---
import Card from "../../components/Card.astro";
import Layout from "../../components/Layout.astro";
import {API_BASE_URL} from "../../constants"

export async function getStaticPaths({paginate}) {
  const response = await fetch(API_BASE_URL,
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
        query AllTags {
          tags {
            nodes {
              name
              slug
            }
          }
        }
      `
    }),
  });


	// destructure data from our JSON
	const { data } = await response.json();

	//  assign the array of nodes to "posts" variable for usability
	const tags = data.tags.nodes

  // transform our array of {slug: "post-slug"} objects into an array of {params: {slug: "post-slug"}}
  const paths = tags.map(tag => {
    return {params: {tag: tag.slug}}
  })

  return paths

	//return paginate(posts, {pageSize: 3})
}


// Grab all the posts for the tag passed as a param in our dynamic route
const { tag } = Astro.params;

const response = await fetch(API_BASE_URL,
  {
    method: 'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
        query SingleTag($id: ID = "${tag}") {
          tag(idType: SLUG, id: $id) {
            name
            posts(where: {orderby: {field: DATE, order: DESC}}) {
              nodes {
                date
                content
                title
                slug
                excerpt
                featuredImage {
                  node {
                    sourceUrl
                  }
                }
              }
            }
          }
        }
      `
    }),
  });

// destructure data from our JSON
const { data } = await response.json();

const posts = data.tag.posts.nodes
const tagName = data.tag.name

---

<Layout>
	<div class="bg-slate-200 rounded-lg py-12">
		<h1 class="text-center text-3xl">{tagName}</h1>
	</div>
	
	<div class="flex flex-wrap pt-5 -mx-2.5">
		{posts.map(post => (
			<Card post={post} />
		))}
	</div>
<!-- 
	<div class="flex gap-6 justify-center items-center py-12">
		{page.url.prev ? <a class="p-3 rounded-md bg-slate-500 text-white" href={page.url.prev}>Previous</a> : <span class="text-gray-500 p-3 rounded-md block bg-gray-300">Previous</span>}
		{page.url.next ? <a class="p-3 rounded-md bg-slate-500 text-white" href={page.url.next}>Next</a> : <span class="text-gray-500 p-3 rounded-md block bg-gray-300">Next</span>}
	</div> -->

</Layout>
	
